<div id="login-container">
    {{ form_start(loginForm, { attr: { class: 'space-y-4', 'data-action': 'submit->router#submit' } }) }}
        {{ form_row(loginForm.email) }}
        {{ form_row(loginForm.password) }}
        {{ form_row(loginForm.submit) }}
    {{ form_end(loginForm) }}
    <a href="/auth/register" data-action="click->router#navigate">Register</a>
</div>
