{% for flash_error in app.flashes('verify_email_error') %}
    <div class="alert alert-danger" role="alert">{{ flash_error }}</div>
{% endfor %}
<h1>Register</h1>
{{ form_errors(registrationForm) }}
{{ form_start(registrationForm, {
    attr: { 'data-controller': 'registration', 'data-action': 'submit->registration#submit' },
    action: path('app_register') ,
    }) }}
    {{ form_row(registrationForm.email) }}
    {{ form_row(registrationForm.plainPassword, { label: 'Password' }) }}
    {{ form_row(registrationForm.agreeTerms) }}
    <div class="flex justify-center w-full mb-3">
        <button type="submit"
                class="inline-block bg-blue-600 hover:bg-blue-700 text-white font-semibold py-1 px-3 rounded transition duration-150 ease-in-out">
            Register
        </button>
    </div>
{{ form_end(registrationForm) }}
<div class="flex justify-center">
    <p class="text-xs text-slate-500">
        Already have account?
        <a href="{{ path("app_show_login") }}"
           class="hover:text-blue-500"
           data-action="click->router#navigate">Sign In</a>
    </p>
</div>
